<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/out-main.css' />
  </head>
  <body>
    <main class='max-w-7xl mx-auto'>
      {{{body}}}
    </main>
  </body>
</html>