<div class='w-full py-8'>
  <div class='py-3'>
    Copy the Code below AS IT IS and paste in your HTML, PHP or any other type
    of Web File to get the Counter working immediately. You can also paste this
    code in your blogs and it should work immediately. If the counter is not
    working after you paste the code than you have to make sure that you have
    pasted the code in the correct file. Note: Please do not alter the code
    given below otherwise we reserve the right to disable the Counter for your
    website. Do Share Us After Putting Counter To Your Website
  </div>
  <textarea
    class='w-full p-2 border border-gray-400'
    rows='5'
    readonly
  >{{data}}</textarea>

</div>